body {
    background-color: black;
    color: white;
}

p {
    margin: 0;
}

.Main {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    color: aliceblue;
}

.header {
    display: flex;
    justify-content: center;
}

.header_button {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 23px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: #1290EA;
    color: #FFFF;
    padding: 2px 8px;
}

.input_type {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.input_type_text {
    height: 30px;
    width: 165px;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 20px;
    border: 2px solid #DADEEA;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    padding: 5px 20px;
}

.input_type_text::placeholder {
    color: #888888;
    padding-left: 50px;

}

.input_type_date {
    height: 30px;
    width: 130px;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 20px;
    border: 2px solid #DADEEA;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    color: #414D64;
    background: #ffffff;
    text-align: center;
}

.input_type_add {
    height: 40px;
    width: 130px;
    margin: 10px 5px 20px 10px;

    border: 2px solid #DADEEA;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    color: #414D64;
    background: #ffffff;
    text-align: center;
    align-self: center;
}

.show_the_task {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    color: aliceblue;
}

.task-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.task-name {
    flex: 1;
    text-align: calc(20);
}

.task-date {
    flex: 1;
    text-align: center;
}

.task-actions {
    flex: 1;
    display: flex;
    justify-content: space-around;
}