body {
    background-color: rgb(11, 10, 7);
}

p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;

}

.header_button {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 23px;
    margin: 30px;
    border: 0px solid #ddd;
    border-radius: 5px;
    background-color: #1290EA;
    color: #FFFF;
    padding: 2px 8px;
}